@model IEnumerable<JackPizza.Models.PizzaStore>
@using Jmelosegui.Mvc.GoogleMap
@using System.Drawing


<div class="row">
    <div class="col-md-12">
        @(Html.GoogleMap()
          .Latitude(-36.8485)
          .Longitude(174.7633)
          .Name("map")
          .Height(800)
          .Zoom(12)
          .ZoomControlPosition(ControlPosition.TopLeft)
          .ZoomControlVisible(true)
          .Markers(marker =>
          {
              marker.Add()
                  .Latitude(-36.8847602)
                  .Longitude(174.7160554)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.9085532)
                  .Longitude(174.6824046)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.873916)
                  .Longitude(174.645862)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.9115504)
                  .Longitude(174.6559897)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.8696485)
                  .Longitude(174.7099122)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.7915031)
                  .Longitude(174.6874112)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.8110924)
                  .Longitude(174.7129228)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.8634868)
                  .Longitude(174.7486778)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.8727397)
                  .Longitude(174.7431502)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.8879675)
                  .Longitude(174.7373365)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.9206719)
                  .Longitude(174.735913)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.8861083)
                  .Longitude(174.7608993)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.9222697)
                  .Longitude(174.7831169)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.9606092)
                  .Longitude(174.7924926)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.907975)
                  .Longitude(174.8379808)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.9088446)
                  .Longitude(174.883656)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.8516121)
                  .Longitude(174.8577337)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.8473734)
                  .Longitude(174.7800178)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.849103)
                  .Longitude(174.765203)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.8464616)
                  .Longitude(174.7670523)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));
              marker.Add()
                  .Latitude(-36.80811)
                  .Longitude(174.7898364)
                  .Icon("~/Content/Images/domino_icon.png", new Size(24, 24), new Point(0, 0), new Point(0, 24));

          })
          .ApiKey("AIzaSyBy31wHgP9tfD10HR1VaEQepWvu1Y_ACbA")          
//            .ApiKey("AIzaSyAGDQvfEWRflgI8GJi8Ljbi2CoeG55_VE4")
        )
    </div>   
</div>

@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar())
}